<aside id="dashboard">
  <main id="registroSucursales">
    <div class="col-md-12 pt-5 mt-5">
      <h2 class="text-center">Lista de tipos de productos</h2>
          <div class="form-group col-md-8">
            <label for="txtBuscar">Buscar</label>
            <input type="text" id="txtBuscar" class="form-control col-md-8" ng-model="buscarTipoProducto">
          </div>
  <div class="col-9">
      <table class="table">
      <thead>
          <tr>
              <th>Tipo de producto</th>
              <th>Impuesto asignado</th> 
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="tipoProducto in  vm.listaTipoProductos | filter:buscarTipoProducto">
              <td>{{tipoProducto.nombreTipoProducto}}</td>
              <td>{{tipoProducto.impuesto}}</td>
              <td>
                  <li class="nav-item dropdown btnAccion" style="list-style:none">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href=""ui-sref="main.modificarProducto" ng-click="vm.modificar(tipoProducto)">Modificar tipo de producto</a>
                      <a class="dropdown-item" href="">Eliminar tipo de producto</a>
                    </div>
                  </li>
                </td>
              </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </main>
          
          
       

