<aside id="dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 panelIzquierdo px-5">
        <img type="image/svg+xml" src="/../sources/img/logo_white.svg" class="my-5">
        <ul class="list-group" class="my-4">
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="#!/regEmpleados">Empleados</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="" ui-sref="main.registroClientes" ui-sref-active="active">Clientes</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="#!/registrarCourier">Couriers</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="#!/registroSucursal">Sucursales</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="#!/registrarTipoProducto">Productos</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="" ui-sref="main.convenios" ui-sref-active="active">Convenios</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="#!/listarPaquetes">Paquetes</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="#!/consultarBitacora">Bitácora</a>
          </li>
          <li class="list-group-item">
            <a href="#!/registroPrealerta">Prealertar Paquete</a>
          </li>
          <li class="list-group-item">
            <a href="" ui-sref="main.registroConvenioCliente" ui-sref-active="active">Solicitar Convenio</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Administrador' || vm.rolUsuario == 'Encargado de Aduana' || vm.rolUsuario == 'Encargado de Sucursal' || vm.rolUsuario == 'Repartidor'">
            <a href="#!/listarPaquetesCliente">Mis Paquetes</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</aside>