<div class="col-md-12 pt-5 mt-5">
          <h3 class="panel-title">Perfil de {{vm.userInfo.getNombreCompleto()}}</h3>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <img alt="User Pic" src="{{vm.userInfo.getFotoPerfil()}}" class="img-circle img-responsive" width="100%">
            </div>

            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                    <tr>
                        <td>Número de cédula</td>
                        <td>{{vm.userInfo.getIdentificacion()}}</td>
                      </tr>
                  <tr>
                    <td>Nombre</td>
                    <td>{{vm.userInfo.getNombreCompleto()}}</td>
                  </tr>
                  <tr>
                    <td>Fecha de nacimiento</td>
                    <td>{{vm.userInfo.getFechaNacimiento() | date:'dd MMM yyyy'}}</td>
                  </tr> 
                  <tr>
                    <tr>
                      <td>Correo electrónico</td>
                      <td>
                        <a href="mailto:{{vm.userInfo.getCorreo()}}">{{vm.userInfo.getCorreo()}}</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Dirección</td>
                      <td>{{vm.userInfo.getDireccion()}}</td>
                    </tr>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>